header{
    height: 100px;
    background-color: rgb(30, 132, 165);
    background-image: url(../img/pattern.png);
    background-size: contain;
    position: relative;
}

header div{
    width: 200px;
    background-size: cover;
    position: absolute;
    bottom: 9px;
    left: 5px;
}

main h1{
    font-size: 50px;
    margin-bottom: 5px;
}

main h2{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}

main h3{
    margin-top: 0;
    font-weight: 300;
}

.grey{
    color: grey;
}

.blue{
    color: rgb(81, 170, 225);
}
